    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About HillCyber</h2>
                <p>HillCyber’s advanced cybersecurity solutions leverage technology powering some of the most secure networks in the world, from inside the U.S. Defense Department to leading multinational corporations. We have reimagined and reengineered cybersecurity technology to provide advanced, multi-layered protection strong enough for the most important networks — but affordable for everyone. From non-profit organizations, to government agencies, to private business large and small, HillCyber delivers world-class cyber solutions right-sized for your organization.</p>
            </div>
        </div>
    </section>
