    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About HillCyber</h2>
                <p>
We launched HillCyber to provide military-grade cybersecurity to everyone. We successfully demonstrated our advanced technology on networks at the Pentagon, including at DARPA, the Defense Department's in-house research agency, and are now working with the US Army, among others. HillCyber is built as much on our advanced technology as our social mission to serve the nonprofits and charitable organizations based in our community. Our clients include private corporations, nonprofits, civil rights groups, financial services firms, legal organizations and law firms, hospitals and health care providers, federal agencies, and others -- ensuring networks are resilient, data is secured, staffs are prepared, operations are safeguarded from online and insider threats, and reputations are protected.
</p>
<p>Because of our advanced suite of technology and mission to deliver military-grade cyber to even the smallest non-profits, HillCyber was admitted to the global startup incubator 1776, based in DC.</p>
            </div>
        </div>
    </section>
