    <!-- Assessment Section -->
    <section id="assessment" class="content-section text-center">
        <div class="assessment-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>DC-Based Nonprofit Assessment</h2>
                    <p>HillCyber’s social mission is to serve our community and the nonprofits that sustain it. Contact us about a free assessment for your DC-area nonprofit organization.</p>
<p>HillCyber is built as much on our advanced technology as our social mission to serve the nonprofits and charitable organizations operating in the Washington D.C. region. Nonprofit organizations that provide irreplaceable assistance to those in need are all too often as vulnerable as the communities they serve. HillCyber provides qualified nonprofit organizations in the D.C. region with free and reduced-price services. Charitable organizations that serve us all deserve our support -- and can only fulfill their missions if they're able to operate effectively. HillCyber's military grade technology is utilized by the nation's largest government agencies and private corporations, and is fully scalable to any operation -- including the nonprofits providing critical services to our community.</p>
<br/> 
<p>If you work with a DC-area nonprofit, contact us today for more information about HillCyber's free and reduced-price services.</p>
                </div>
            </div>
        </div>
    </section>
