    <!-- Assessment Section -->
    <section id="assessment" class="content-section text-center">
        <div class="assessment-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>DC-Based Nonprofit Assessment</h2>
                    <p>HillCyber’s social mission is to serve our community and the nonprofits that sustain it. Contact us about a free assessment for your DC-area nonprofit organization.</p>
                </div>
            </div>
        </div>
    </section>
